@model Fidelitas.Proyecto.ArticulosPerdidos.Model.PERSONA

@{
    ViewBag.Title = "Borrar Usuario";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Borrar Usuario  @Html.DisplayNameFor(model => model.NOMBRE_COMPLETO)</h2>

<h3>Seguro qué quiere borrar al usuario?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayName("NOMBRE COMPLETO")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NOMBRE_COMPLETO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.USUARIO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.USUARIO)
        </dd>

        <dt>
            @Html.DisplayName("CONTRASEÑA")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PASSWORD)
        </dd>

        <dt>
            @Html.DisplayName("CORREO")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EMAIL)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ROL)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ROL)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Borrar" class="btn btn-default" /> |
            @Html.ActionLink("Regresar", "Index")
        </div>
    }
</div>
