@model Fidelitas.Proyecto.ArticulosPerdidos.Model.ARTICULOS

@{
    ViewBag.Title = "Detalles";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Detalles</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ESTADO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ESTADOS.Nombre_Estado)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MARCA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MARCA)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MODELO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MODELO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DESCRIPCION)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DESCRIPCION)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FOTOS)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FOTOS)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CATEGORIA_ARTICULO.NOMBRE_CATEGORIA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CATEGORIA_ARTICULO.NOMBRE_CATEGORIA)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Regresar", "Index")
</p>

<br /><br /><br />