@model Fidelitas.Proyecto.ArticulosPerdidos.Models.RegisterViewModel
@{
    ViewBag.Title = "Crear nuevo usuario";
}

<style>
    * {
        box-sizing: border-box;
    }

    /* Create two equal columns that floats next to each other */
    .column {
        float: left;
        width: 50%;
        padding: 10px;
        height: 60%; /* Should be removed. Only for demonstration */
    }

    /* Clear floats after the columns */
    .row:after {
        content: "";
        display: table;
        clear: both;
    }
</style>

<h2>@ViewBag.Title</h2>
<hr />
<div class="row">
    <div class="column">
        @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
            @Html.AntiForgeryToken()

            
            @Html.ValidationSummary("", new { @class = "text-danger" })
            <div class="form-group">
                @Html.Label("Correo", new { @class = "col-md-3 control-label" })
                <div class="col-md-9">
                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                </div>
            </div>


            <div class="form-group">
                @Html.Label("Usuario", new { @class = "col-md-3 control-label" })
                <div class="col-md-9">
                    @Html.TextBoxFor(m => m.UserName, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                @Html.Label("Contraseña", new { @class = "col-md-3 control-label" })
                <div class="col-md-9">
                    @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                @Html.Label("Confirmar COntraseña", new { @class = "col-md-3 control-label" })
                <div class="col-md-9">
                    @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                </div>
            </div>

            <div class="form-group">
                @Html.Label("Rol de Usuario", new { @class = "col-md-3 control-label" })
                <div class="col-md-9">
                    @Html.DropDownList("UserRoles", (SelectList)ViewBag.Name, new { @class = "form-control" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" class="btn btn-default" value="Registrar" />
                </div>
            </div>
        }
    </div>
    <div class="column">
        <img src="~/img/add-user.jpg" alt="" />
    </div>
</div>

<br />
<br />

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

